.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FBFBFB;
    background-color: #921D1B;
}

.h1 {
padding-left: 20px;
}

.body {
background-repeat:no repeat;
background-size:contain;
background-size: 100% 100%;
}


#backgroundimage {
  padding-left: 0px
  max-width: 100%;
  height: auto;
  background-size: cover;
}

#writtenworks {
  background-color: #0099CC;
  font: #000000;
}

#writtenworkspage {
  background-color: #0099CC;

}

#writtenhead {
  text-align: center;

}
