.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

body {
    background-image: url("IMG_0867.jpg");
     background-repeat: no-repeat;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FBFBFB;
    background-color: #921D1B;
}

.h1 {
padding-left: 20px;
}
