<!DOCTYPE html>
<html class="full">
<head>
  <title>Justin Bruno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container">
  <img src="IMG_0867.jpg" alt="Background image" style="width:128px;height:128px;">

</div>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Justin Bruno</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="photography.html">iPhoneography</a></li>
        <li><a href="writtenwork.html">Written Works</a></li>
        <li><a href="aboutme.html">About Me</a></li>
      </ul>
    </div>
  </div>
</nav>


</body>
</html>
